.git
.idea
node_modules/
src/public/js/app.js
src/node_modules
src/deno_dir
.DS_Store
.github/.DS_store
test_conduit/test_locally_test.py
test_conduit/__pycache__
allure-results/*.txt
allure-results/*.json